/* CSS Resetter */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* END of CSS Resetter */

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
}

.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
  background-color: #3c3a39;
  color: white;
  font-size: 2.4rem;
  font-family: 'Odibee Sans', cursive;
}

.main-header__logo {
  font-size: 3.2rem;
  text-shadow: 1px 1px crimson, 2px 2px blue;
  font-weight: bold;
  letter-spacing: 2px;
}

.section-intro {
  display: flex;
  background-color: #1c1a19;
  height: 100%;
  flex-direction: column;
  gap: 1.2rem;
  padding: 12rem 2.4rem;
}

.section-intro__main-heading {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: 0.37px;
  font-weight: 400;
}

.section-intro__secondary-heading {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
}

.section-intro__description {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.navigation-list {
  display: flex;
  list-style: none;
  width: 20rem;
  justify-content: space-around;
}

.navigation-list__social--link {
  color: #dbd8d7;
}

.social-icon {
  font-size: 2.4rem;
}
