/* CSS Resetter */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #666;
  border: 0 none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: #000;
}

::-webkit-scrollbar-track:hover {
  background: #666;
}

::-webkit-scrollbar-track:active {
  background: #333;
}

/* END of CSS Resetter */

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  background-color: rgb(28 26 25);
}

.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 1.2rem;
  color: white;
  font-size: 2.4rem;
}

.main-header__logo {
  /* font-family: 'Inter', sans-serif; */
  line-height: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Sarina', cursive;
  letter-spacing: 2px;
}

.main-header__navigation--menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header__navigation--menu__list {
  display: none;
  flex-direction: row;
  list-style: none;
}

.mobile-menu--active .main-header__navigation--menu {
  position: fixed;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  top: 0;
  background-color: rgb(60, 58, 57);
  width: 100%;
  min-height: 100%;
  z-index: 5;
}

.mobile-menu--active .main-header__navigation--menu__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-btn--icon {
  display: flex;
  flex-direction: column;
  width: 2.4rem;
  height: 2.4rem;
  justify-content: center;
  transition: 0.45s ease-in-out;
  gap: 0.5rem;
}

.menu-btn--icon .bar {
  display: flex;
  height: 0.2rem;
  width: auto;
  background-color: white;
  transition: 0.45s ease-in-out;
}

.mobile-menu--active .menu-btn--icon {
  justify-content: center;
  transition: 0.25s ease-in-out;
  align-self: flex-end;
}

.mobile-menu--active .menu-btn--icon .bar {
  background-color: #979493;
}

.mobile-menu--active .menu-btn--icon .bar-1 {
  transition: 0.25s ease-in;
  transform: rotate(45deg) translate(4px, 6px);
}

.mobile-menu--active .menu-btn--icon .bar-2 {
  opacity: 0;
  transition: 0.25s ease-in-out;
}

.mobile-menu--active .menu-btn--icon .bar-3 {
  transform: rotate(-45deg) translate(3px, -6px);
  transition: 0.25s ease-in;
}

.main-header__navigation--menu__list .menu__item {
  padding: 1.2rem;
}

.main-header__navigation--menu__list .menu__item .menu__item--link {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  vertical-align: middle;
}

/* Nav links for mobile menu */

.mobile-menu--active .main-header__navigation--menu__list .menu__item {
  border-bottom: 1px solid rgba(111, 108, 107, 1);
}

.mobile-menu--active .main-header__navigation--menu__list .menu__item .menu__item--link {
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  color: #fff5e1;
  position: relative;
}

.msg-icon {
  display: block;
}

.msg-icon path {
  fill: white;
}

.mobile-menu--active .main-header__navigation--menu__list .menu__item:last-child {
  display: none;
}

.scroll-disable {
  overflow: hidden;
}

.section-intro {
  display: flex;
  position: relative;
  background-color: #1c1a19;
  background-image: url(./assets/Illustration.svg);
  background-repeat: no-repeat;
  background-position: right -31.25rem bottom -7.25rem;
  background-size: 45rem 45rem;
  height: 100%;
  padding: 12rem 2.4rem;
  z-index: 2;
}

@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin-container {
  position: absolute;
  width: 20rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.react-icon {
  opacity: 0.1;
  animation: spinner 10s linear infinite;
}

.section-intro--text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.section-intro__main-heading {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: 0.37px;
  font-weight: 400;
}

.section-intro__secondary-heading {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
}

.section-intro__description {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-family: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.navigation-list {
  display: flex;
  list-style: none;
  width: 20rem;
  justify-content: space-around;
}

.navigation-list__social--link {
  color: #dbd8d7;
}

.social-icon {
  font-size: 2.4rem;
}

/* Window Modal Style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: inherit;
  max-height: inherit;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 5;
  display: flex;
  padding: 0 1.6rem;
  justify-content: center;
}

.modalWindow {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: max-content;
  height: 90vh;
  max-height: max-content;
  margin: auto;
  padding: 1.6rem;
  background-color: white;
  z-index: 5;
  overflow-y: scroll;
}

.modalWindowChildWrapper {
  display: flex;
  flex-direction: column;
}

.wrapper-1 {
  gap: 4.4rem;
}

.modalWindowChildWrapper .project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrapper-2 {
  gap: 2.4rem;
}

.project-modal-title {
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  color: rgb(23, 43, 77);
}

.technology-list .skills {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.4rem;
  background-color: rgba(255, 255, 255, 0.244);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.modalWindowChildWrapper .technology-list .skills {
  outline: 1px solid rgb(151, 148, 147);
  padding: 1rem 1.2rem;
  color: rgba(60, 58, 57, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.pIcon {
  display: inline-block;
}

.modalWindowChildWrapper--Img {
  width: 100%;
}

.modalWindow_sub--child {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

.modalWindow_sub--child--desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: justify;
  color: rgb(52, 69, 99);
}

.project--close_icon {
  cursor: pointer;
}

.modalWindow_sub--child--btn_wrapper {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.btn_wrapper--modal-btn {
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  background-color: rgb(255, 107, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  gap: 1.2rem;
  padding: 1.2rem;
}

/* SECTION 2 (WORK SECTION) */

.work-section_container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 5rem 2.4rem;
  background-color: white;
}

.section-headline--wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.work-section_container--heading {
  font-size: 3.8rem;
  font-family: 'Crete Round', serif;
  font-weight: 400;
}

.work-bottom {
  width: inherit;
  fill: #212121;
  stroke: #212121;
}

.work-section_container--highlighted_project {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.4rem;
}

.highlighted_project--wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.work-section_container--project_list {
  display: grid;
  grid-gap: 2.6rem;
}

.project_list--li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 35rem;
  padding-top: 7.6rem;
  gap: 1.4rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.project_list--li .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 100%;
  z-index: 1;
}

.project-detail {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 3.2rem 1.6rem;
  gap: 1.2rem;
  height: inherit;
  color: #fff;
  z-index: 3;
}

.project-detail::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0.5) 0.25%,
      rgba(38, 38, 38, 0.9) 70.94%
    );
  z-index: -1;
}

.project-title {
  font-family: 'Crete Round', serif;
  font-weight: inherit;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.project-desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.technology-list {
  display: flex;
  gap: 1.2rem;
  list-style: none;
}

.work-section_container--highlighted_project .technology-list .skills {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.4rem;
  background-color: #fff;
  color: #091e42;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.project_list--li__cta {
  background-color: #ba4d00;
  font-family: 'Inter', sans-serif;
  line-height: 2.4rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 1.2rem;
  font-size: 1.7rem;
  z-index: 3;
}

.project_list--li__cta:hover {
  background-color: rgba(255, 245, 225, 1);
  box-shadow: inset 0 0 0 2px rgb(184, 77, 0);
  color: rgb(184, 77, 0);
}

.work-section_container--highlighted_project .project_list--li__cta {
  width: 12.4rem;
}

/* About Section */

.about-section__container {
  background-color: #1c1a19;
  background-image: url('./assets/about-frame.svg');
  background-repeat: no-repeat;
  background-position: top 13% right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section__container .intro--container {
  display: flex;
  flex-direction: column;
  padding: 5rem 2.4rem;
  gap: 2.4rem;
  margin-bottom: 9rem;
}

.about-section__container .intro--container .intro--container__title {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 7rem;
  letter-spacing: 0.37px;
  color: #ba4d00;
}

.about-section__container .intro--container .intro--container__desc {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #f4f5f7;
}

.about-section__container .intro--container .intro--container__resumeBtn {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 2.4rem;
  letter-spacing: 3%;
  text-align: center;
  padding: 1.2rem;
  background-color: rgb(184, 77, 0);
  text-decoration: none;
  color: #fff;
  width: max-content;
}

.about-bottom {
  stroke-width: 1;
  fill: #fff;
  stroke: #fff;
  width: 90%;
}

.developer--strength__container {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  gap: 2.4rem;
}

.strength-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.strength-container__skill {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  align-items: center;
  gap: 1.2rem;
  color: #fff;
  padding: 0.8rem 1.2rem;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.lang-icon,
.framework-icon,
.skills-icon {
  background-color: #ff6b00;
}

.lang-icon {
  transform: rotate(45deg);
}

.framework-icon {
  transform: rotate(90deg);
}

.skills-icon {
  border-radius: 50%;
}

.strength-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0 1.2rem;
  list-style: none;
  align-items: center;
}

.strength-list .skill {
  padding: 1.2rem 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4.27rem;
  color: #fff;
}

/* Form Section */

.form-section__container,
.form-section__container .form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-section__container {
  padding: 5rem 2.4rem 5rem 2.4rem;
  gap: 5.8rem;
  background-color: white;
}

.form-section__container .intro {
  font-family: 'Inter', sans-serif;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #172b4d;
  text-align: center;
}

.form-section__container .form {
  gap: 2.4rem;
}

.inputs {
  padding: 1.6rem;
  border: none;
  border-bottom: 1px solid #dbdad7;
  color: #3c3a39;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

.message {
  border: none;
  background-color: #fbf8f7;
  height: 11.4rem;
}

.form-section__container .form .btn {
  padding: 12px;
  border: none;
  background-color: #ba4d00;
  width: max-content;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: #fff;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border-top: 1px solid #dfe1e6;
  background-color: white;
}

.navigation-list__social--link svg path {
  fill: #505f79;
}

main .navigation-list__social--link svg path {
  fill: #fff;
}

.form-error--msg {
  position: absolute;
  bottom: -7%;
  left: 30%;
  width: 100%;
  color: red;
  transform: translate(-20%, 7%);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
  visibility: hidden;
}

.form-error--msg.active {
  visibility: visible;
}

@media (min-width: 768px) {
  .main-header {
    width: 100%;
    font-size: 2.4rem;
  }

  .main-header__logo {
    font-size: 2rem;
    padding-left: 1rem;
    transition: ease-out 0.5s;
  }

  .main-header__navigation--bar {
    display: none;
  }

  .main-header__navigation--menu__list {
    display: flex;
  }

  .menu__item .menu__item--link {
    transition: ease-out 0.5s;
  }

  .menu__item .menu__item--link:hover {
    color: #ff6b00;
    transition: ease-out 0.5s;
  }

  .main-header__navigation--menu .menu-btn--icon {
    display: none;
  }

  .navigation-list .navigation-list__social--link:hover svg path {
    fill: crimson;
  }

  .menu__item .menu__item--link:hover .msg-icon path {
    stroke: #ff6b00;
    transition: ease-in 0.5s;
  }

  .section-intro {
    background-repeat: no-repeat;
    background-position: right -28rem top -11.25rem;
    background-size: contain;
  }

  .section-intro__main-heading {
    transition: ease-in 0.5s;
  }

  .section-intro--text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 60%;
  }

  /* SECTION 2 (WORK SECTION) */

  .work-section_container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 12rem 2.4rem;
  }

  .section-headline--wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
  }

  .work-section_container--heading {
    font-size: 3.8rem;
    font-family: 'Crete Round', serif;
    font-weight: 400;
  }

  .work-bottom {
    stroke: #212121;
    width: 55%;
  }

  .work-section_container--highlighted_project {
    flex-direction: row;
    align-items: flex-start;
  }

  .work-section_container--project_list {
    grid-template-columns: repeat(auto-fit, minmax(32.7rem, 1fr));
  }

  .work-section_container--highlighted_project:hover .project_list--li__cta {
    animation: btnEffect 0.75s ease-in-out 0.75s infinite;
  }

  @keyframes btnEffect {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.15);
    }

    50% {
      transform: scale(1.2);
    }

    75% {
      transform: scale(1.15);
    }

    100% {
      transform: scale(1);
    }
  }

  .work-section_container--highlighted_project .image {
    width: 50%;
    box-shadow: 0 0 20px 5px rgb(213, 213, 213);
  }

  .highlighted_project--wrapper {
    width: 50%;
  }

  .highlighted_project--wrapper .project-title {
    font-family: 'Crete Round', serif;
    font-weight: inherit;
    font-size: 3.2rem;
    line-height: 4.4rem;
  }

  .highlighted_project--wrapper .project-desc {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .work-section_container--highlighted_project .technology-list .skills {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }

  .project_list--li {
    transition: ease-out 0.25s;
  }

  .project_list--li:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.4);
  }

  .about-section__container {
    background-image: url('./assets/illustration-about\ me.svg');
    background-repeat: no-repeat;
    background-position: top -10% right -25%;
    background-size: 50% 50%;
    align-items: flex-start;
  }

  .about-section__container:hover .intro--container__resumeBtn {
    animation: btnEffect 1s ease-in-out 0.2s infinite;
  }

  .about-section__container .intro--container {
    padding: 5rem 2.4rem;
    gap: 2.4rem;
    width: 65%;
    margin-bottom: 0;
  }

  .about-section__container .about-bottom {
    stroke: #fff;
    fill: #fff;
    width: 100%;
    padding: 0 2.4rem;
  }

  .about-section__container .intro--container__title {
    transition: ease-out 0.25s;
  }

  .about-section__container .intro--container__title:hover {
    text-shadow: 4px 4px #fff;
    transition: ease-in 0.25s;
  }

  .developer--strength__container {
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;
    width: 100%;
    padding: 5rem 2.4rem;
  }

  .developer--strength__container .strength-container__skill {
    transition: ease-out 0.25s;
  }

  .developer--strength__container .strength-container__skill:hover {
    text-decoration: 4px underline #fff;
    transition: ease-in 0.25s;
  }

  .strength-container {
    align-items: flex-start;
  }

  .strength-list {
    align-items: flex-start;
  }

  .form-section__container {
    flex-direction: row;
    padding: 5rem 2.4rem;
  }

  .form-section__container .intro {
    font-family: 'Inter', sans-serif;
    font-size: 3.2rem;
    line-height: 4.4rem;
    color: #172b4d;
    text-align: left;
    width: 47%;
    transition: ease-out 0.25s;
  }

  .form-section__container .form .inputs {
    transition: ease-out 0.25s;
  }

  .form-section__container .form {
    gap: 2.4rem;
    width: 45%;
  }

  .form-section__container .form .btn {
    padding: 12px;
    margin: 0;
  }

  .form-section__container .form .btn:hover {
    cursor: pointer;
    animation: btnEffect 1s ease-in-out 0.2s infinite;
  }

  .navigation-list .navigation-list__social--link,
  .navigation-list .navigation-list__social--link svg {
    transition: ease-out 0.25s;
  }

  .navigation-list .navigation-list__social--link:hover svg {
    transform: scale(1.25);
    transition: ease-in 0.25s;
  }

  .form-error--msg {
    bottom: 3%;
    left: 55%;
    width: 55%;
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .main-header {
    padding: 0.75rem 12rem;
  }

  .main-header__navigation--bar {
    display: none;
  }

  .main-header__navigation--menu__list {
    display: flex;
  }

  .section-intro {
    background-image: url(./assets/Illustration-desktop.svg);
    background-position: right -30rem top -6rem;
    background-size: 100% 100%;
    padding: 0 0 0 12rem;
    position: relative;
  }

  .spin-container {
    width: 15rem;
  }

  .section-intro--text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 52%;
    padding: 13rem 0;
  }

  .section-intro .navigation-list {
    position: absolute;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    left: -3.25rem;
    top: 50%;
    transform: translate(5rem, -50%) scale(0.9);
    justify-content: space-around;
  }

  /* SECTION 2 (WORK SECTION) */

  .work-section_container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 10rem 12rem;
  }

  .section-headline--wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .work-section_container--heading {
    font-size: 3.8rem;
    font-family: 'Crete Round', serif;
    font-weight: 400;
  }

  .work-bottom {
    stroke: #212121;
    width: 60%;
  }

  .work-section_container--highlighted_project {
    flex-direction: row;
    align-items: flex-start;
  }

  .work-section_container--highlighted_project .image {
    width: 66%;
  }

  .highlighted_project--wrapper {
    width: 39%;
    gap: 2.4rem;
  }

  .project-title {
    font-size: 2.6rem;
    line-height: 3.4rem;
  }

  .highlighted_project--wrapper .project-title {
    font-family: 'Crete Round', serif;
    font-weight: inherit;
    font-size: 2.75rem;
    line-height: 4.4rem;
  }

  .project-desc {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .highlighted_project--wrapper .project-desc {
    font-size: 1.6rem;
    line-height: 2.25rem;
    font-weight: 400;
  }

  .work-section_container--project_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2.4rem;
  }

  .project_list--li {
    position: relative;
    height: 27rem;
    gap: 1.4rem;
  }

  .project_list--li:hover {
    cursor: pointer;
    outline: 2px solid #212121;
    padding-bottom: 0;
  }

  .project-detail {
    padding: 3.4rem 1.6rem;
    gap: 1.2rem;
    visibility: visible;
  }

  .project_list--li:hover .project-detail {
    visibility: hidden;
  }

  .technology-list {
    gap: 1.2rem;
  }

  .technology-list .skills {
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 1rem 1.2rem;
  }

  .project_list--li .project_list--li__cta {
    padding: 1rem;
    font-size: 1.25rem;
    width: 100%;
    visibility: hidden;
  }

  .project_list--li:hover > .project_list--li__cta {
    visibility: visible;
  }

  .work-section_container--highlighted_project .technology-list .skills {
    padding: 0.75rem 1.2rem;
    font-size: 1rem;
  }

  /* About Section */

  .about-section__container {
    background-position: top right;
    background-size: 40% 40%;
    padding: 0 12rem;
  }

  .about-section__container .intro--container {
    gap: 1.4rem;
    width: 54%;
    padding: 13rem 0;
    margin-bottom: 0;
  }

  .about-section__container .intro--container .intro--container__title {
    font-size: 4.2rem;
    line-height: 4.4rem;
    letter-spacing: 0.37px;
  }

  .about-section__container .intro--container .intro--container__desc {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }

  .about-section__container .intro--container .intro--container__resumeBtn {
    font-size: 1.25rem;
    line-height: 2.4rem;
    letter-spacing: 3%;
    padding: 0.75rem 1.2rem;
  }

  .about-section__container .about-bottom {
    stroke: #fff;
    fill: #fff;
    width: 100%;
    padding: 0;
  }

  .developer--strength__container {
    flex-direction: row;
    gap: 5rem;
    width: 100%;
    padding: 13rem 0;
  }

  .modalWindow {
    width: 90%;
    max-width: max-content;
    height: 85%;
    max-height: max-content;
    overflow: hidden;
  }

  .wrapper-1 {
    gap: 1rem;
  }

  .wrapper-2 {
    flex-direction: row;
  }

  .modalWindowChildWrapper--Img {
    display: block;
    width: 60%;
  }

  .wrapper-2 .modalWindow_sub--child {
    width: 40%;
    justify-content: space-between;
  }

  .modalWindow_sub--child--btn_wrapper {
    justify-content: flex-start;
    gap: 1.6rem;
  }

  .form-error--msg {
    bottom: 4%;
    left: 52%;
    width: 100%;
    font-size: 1.45rem;
  }
}

@media (min-width: 1280px) {
  .main-header {
    padding: 1.25rem 14.2rem;
  }

  .section-intro {
    background-position: right top -5.75rem;
    background-size: contain;
    padding: 0 0 0 12rem;
  }

  .section-intro--text_wrapper {
    gap: 2.4rem;
    width: 52%;
    padding: 19.2rem 0;
  }

  .section-intro__main-heading {
    font-size: 7.2rem;
    line-height: 8.15rem;
  }

  .section-intro__secondary-heading {
    font-size: 3.2rem;
    line-height: 4.4rem;
    font-weight: 500;
  }

  .section-intro__description {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  .section-intro .navigation-list {
    gap: 1.6rem;
    left: -3.25rem;
    top: 50%;
    transform: translate(7rem, -50%) scale(1);
  }

  /* SECTION 2 (WORK SECTION) */

  .work-section_container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 10rem 14.2rem;
  }

  .section-headline--wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .work-section_container--heading {
    font-size: 3.8rem;
    font-family: 'Crete Round', serif;
    font-weight: 400;
  }

  .work-bottom {
    stroke: #212121;
    width: 67%;
  }

  .work-section_container--highlighted_project {
    flex-direction: row;
    align-items: flex-start;
  }

  .work-section_container--highlighted_project .image {
    width: 52%;
  }

  .highlighted_project--wrapper {
    width: 45%;
    gap: 2.4rem;
  }

  .project-title {
    font-size: 3.2rem;
    line-height: 4.4rem;
  }

  .project-desc {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }

  .highlighted_project--wrapper .project-title {
    font-family: 'Crete Round', serif;
    font-weight: inherit;
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .highlighted_project--wrapper .project-desc {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .technology-list .skills {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 1.2rem;
  }

  .work-section_container--highlighted_project .technology-list .skills {
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
  }

  .highlighted_project--wrapper .project_list--li__cta {
    padding: 1.2rem;
    font-size: 1.7rem;
    letter-spacing: 3%;
    font-weight: bold;
  }

  .work-section_container--project_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    grid-gap: 2.4rem;
  }

  .modalWindow {
    width: 90%;
    max-width: max-content;
    height: 85%;
    max-height: max-content;
    gap: 4.4rem;
    overflow: auto;
  }

  .modalWindowChildWrapper--Img {
    width: 65%;
  }

  .wrapper-2 .modalWindow_sub--child {
    width: 35%;
    justify-content: space-between;
  }

  .modalWindow_sub--child--btn_wrapper {
    justify-content: flex-start;
    gap: 1.6rem;
  }

  .form-error--msg {
    bottom: 4%;
    left: 52%;
    width: 100%;
    font-size: 1.45rem;
  }

  .project_list--li {
    position: relative;
    padding-top: 6.6rem;
    height: 33rem;
    gap: 1.4rem;
  }

  .project_list--li:hover {
    cursor: pointer;
    outline: 2px solid #212121;
  }

  .project-detail {
    padding: 2.4rem 1.6rem 0.8rem 1.6rem;
    gap: 1.2rem;
  }

  .technology-list {
    gap: 1.2rem;
  }

  .project_list--li .project_list--li__cta {
    padding: 1rem;
    font-size: 1.25rem;
    width: 100%;
    visibility: hidden;
  }

  /* About Section */

  .about-section__container {
    background-position: top 12% right;
    background-size: 40% auto;
    padding: 0 14.2rem;
  }

  .about-section__container .intro--container {
    gap: 2.4rem;
    width: 57%;
    padding: 13rem 0;
    margin-bottom: 0;
  }

  .about-section__container .intro--container .intro--container__title {
    font-size: 7.2rem;
    line-height: 8.1rem;
    letter-spacing: 0;
  }

  .about-section__container .intro--container .intro--container__desc {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  .about-section__container .intro--container .intro--container__resumeBtn {
    font-size: 1.7rem;
    line-height: 2.4rem;
    letter-spacing: 3%;
    padding: 1.2rem;
  }

  .about-section__container .intro--container .intro--container__resumeBtn:hover {
    background-color: rgba(255, 245, 225, 1);
    box-shadow: inset 0 0 0 2px rgb(184, 77, 0);
    color: rgb(184, 77, 0);
  }

  .about-section__container .about-bottom {
    stroke: #fff;
    fill: #fff;
    width: 100%;
    padding: 0;
  }

  .developer--strength__container {
    padding: 13rem 0;
  }

  .strength-container {
    align-items: flex-start;
  }

  .strength-list {
    align-items: flex-start;
  }

  /* Form Section */

  .form-section__container {
    padding: 13rem 14.2rem;
    flex-direction: row;
    justify-content: center;
    gap: 2.4rem;
  }

  .form-section__container .intro {
    font-size: 4rem;
    line-height: 5.2rem;
    text-align: left;
    width: 100%;
  }

  .form-section__container .form {
    gap: 2.4rem;
    width: 100%;
  }

  .inputs {
    padding: 1.6rem;
  }

  .message {
    padding-bottom: 0;
    height: auto;
  }

  .form-section__container .form .btn {
    padding: 12px;
    font-size: 1.7rem;
    line-height: 2.4rem;
    margin-left: 0;
  }
}

@media (min-width: 1360px) {
  body {
    /* max-width: 1440px; */
    margin: auto;
  }

  .modalWindow {
    width: 85%;
    max-width: max-content;
    height: 85%;
    max-height: 57.25rem;
    gap: 4.4rem;
    overflow: auto;
  }

  .modalWindowChildWrapper--Img {
    width: 50%;
  }

  .wrapper-2 .modalWindow_sub--child {
    width: 50%;
    justify-content: space-between;
  }

  .modalWindow_sub--child--btn_wrapper {
    justify-content: flex-start;
    gap: 1.6rem;
  }
}
